body{
    background: #aeeee2;
background: radial-gradient(circle, rgba(174, 238, 226, 1) 0%, rgba(148, 187, 233, 1) 100%);
text-align: center;

   
}
img{
    width: 800px;
    border-radius: 30%;
  box-shadow: 20px 20px 50px 15px black;
}
button{
    padding: 8px;
    border-radius: 15px;
    font-size: large;
    margin-top: 10px;
    background-color: aquamarine;
    cursor: pointer;
    transform: translateY(4px);
    box-shadow: 0 2px 0 #2b2a7a;
}
h1
{
    display: inline-block;
    padding: 20px;
   border-radius: 50px;
  margin: 30px auto;
background: radial-gradient(circle, rgba(174, 238, 226, 1) 1%, rgba(148, 187, 233, 1) 80%);
}
footer{
    margin-top: 150px;
   background: radial-gradient(circle, rgba(174, 238, 226, 1) 0%, rgba(148, 187, 233, 1) 100%);
   padding: 10px;
}
p{
    padding: 20px;
font-size: 19px;
margin-top: 80px;